@charset "utf-8";

/**************************************************************************************/

/*　pc.css　→　各ページ固有のタイルシート　*/
/*　画面の横幅が750px以上↑　*/

/**************************************************************************************/

@media screen and (min-width: 750px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}

/*********   recipe　レシピ・豆知識   **********/


.recipe .A_waku {
	background-image: url(../images//base/back02.png);
	background-repeat: repeat-x;
	background-position: center bottom;
}
.recipe .A01 {
	width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 180%;
	padding-bottom: 7px;
}
.recipe .A01 .img01 {
	position: absolute;
	left: 54px;
	top: 37px;
	height: 296px;
	overflow-y: hidden;
}
.recipe .A01 .img02 {
	padding-top: 99px;
}
.recipe .A01 .text01 {
	margin-top: 4px;
	margin-bottom: 47px;
}

.recipe .B_waku {
	background-image: url(../images//base/back05.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #ECD223;
}
.recipe .B01 {
	width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	padding-top: 46px;
	clear: both;
	overflow-y: hidden;
}
.recipe .B01 a:visited {
	color: #202020;
	text-decoration: underline;
}
.recipe .B01 a:link {
	color: #202020;
	text-decoration: underline;
}
.recipe .B01 a:active {
	color: #444444;
	text-decoration: none;
}
.recipe .B01 a:hover {
	color: #444444;
	text-decoration: none;
}

.recipe .B01 .left {
	width: 245px;
	float: left;
	text-align: left;
	font-size: 12px;
	line-height: 160%;
	margin-bottom: 50px;
}
.recipe .B01 .left .img01 {
	margin-top: 40px;
}
.recipe .B01 .left .img02 {
	margin-top: 12px;
}
.recipe .B01 .left .ul01 {
	list-style-type: none;
}
.recipe .B01 .left .ul01 li {
	padding-left: 5px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.recipe .B01 .right {
	width: 715px;
	float: right;
	text-align: left;
	margin-bottom: 50px;
}
.recipe .B01 .right .waku01 {
	width: 715px;
	background-color: #FFFFFF;
	margin-bottom: 30px;
}
.recipe .B01 .right .waku01 .photo {
	float: left;
	margin-left: 37px;
	width: 227px;
	margin-right: 31px;
	margin-top: 20px;
	margin-bottom: 15px;
}
.recipe .B01 .right .waku01 .data {
	margin-top: 20px;
	margin-bottom: 15px;
	width: 385px;
	float: left;
}
.recipe .B01 .right .waku01 .data2 {
	margin-top: 20px;
	margin-bottom: 15px;
	padding-right: 0px;
	margin-left: 0px;
	padding-left: 35px;
	width: 645px;
}
.recipe .data2 img {
        width:645px;
	height:476px;
	margin-top: 10px;
	padding-top: 0px;
	margin-bottom: 8px;
}

.waku_top {
	line-height: 0%;
}
.waku_bottom {
	line-height: 0%;
}


.recipe .cat1      {
	float: left;
	background-color: #34B4D1;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: bold;
	line-height: 120%;
	margin-right: 10px;
}
.recipe .cat2      {
	float: left;
	background-color: #FF8686;
	font-size: 12px;
	color: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-weight: bold;
	line-height: 120%;
	margin-right: 10px;
}
.recipe .day     {
	float: left;
	font-size: 14px;
	line-height: 140%;
	padding-top: 4px;
}
.recipe .title {
	font-size: 14px;
	line-height: 160%;
	margin-bottom: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	clear: both;
	font-weight: bold;
	padding-top: 8px;
}
.recipe .title2 {
	font-size: 16px;
	line-height: 160%;
	margin-bottom: 8px;
	overflow: hidden;
	clear: both;
	font-weight: bold;
	padding-top: 8px;
}
.recipe .tx1  {
	font-size: 14px;
	line-height: 150%;
}

.recipe .C_waku {
	background-image: url(../images//base/back02.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #208F67;
	padding-top: 42px;
	padding-bottom: 60px;
}
.recipe .C01 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../images//base/line_tate01.png);
	background-repeat: repeat-y;
	background-position: center top;
	min-height: 750px;
	position: relative;
	text-align: left;
}
.recipe .C01 .img01 {
	position: absolute;
	left: 112px;
	top: 0px;
}
.recipe .C01 .img02 {
	position: absolute;
	left: 671px;
	top: 0px;
	z-index: 2;
}
.recipe .C01 .img03 {
	position: absolute;
	left: 549px;
	top: 640px;
}
.recipe .C01 .fb-page {
	width: 434px;
	min-height: 676px;
	position: absolute;
	left: 13px;
	top: 72px;

}
.recipe .C01 .tw {
	position: absolute;
	left: 550px;
	top: 72px;
	width: 434px;
	height: 545px;
	overflow-y: hidden;
}
.recipe .D_waku {
	background-image: url(../images//base/back03.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #ECD223;
	clear: both;
}
.recipe .D01 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 52px;
	padding-bottom: 55px;
}
.recipe .E_waku {
	background-color: #FFFFFF;
}
.recipe .E01 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 62px;
	padding-bottom: 50px;
}
.recipe .E01 .text01 {
	color: #E7510C;
	font-weight: bold;
	width: 837px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #CCCCCC;
	font-size: 16px;
	line-height: 140%;
	margin-top: 13px;
	padding-bottom: 21px;
	margin-bottom: 25px;
}

.recipe .myphoto img{
width:220px;
height:160px;
}

.tb01    {
        border: 2px solid #DDC418;
}
.tb01 th {
        border: 2px solid #DDC418;
        color: #333;
        background-color: #ECD223;
        padding:15px;
        font-size:15px;
}
.tb01 td {
        border: 2px solid #ECD223;
        color: #333;
        text-align: left;
        padding:10px;
}

.ryoshi_list {
	color:white;
}

.ryoshi_list table{
        border:solid 1px #ECD223;
        margin:0px 20px;
        padding:10px 10px;
        width:980px;
}

.ryoshi_list tr td{
        border: solid 1px  #ECD223;
        padding:10px 20px;
	color:white;
	font-size:18px;
}

.ryoshi_list th{
        border: solid 1px  #ECD223;
        padding:10px 20px;
	color:white;
	font-size:20px;
}

.ryoshi_list a:hover {
        color:white;
	font-size:20px;
}

h1{
font-size:25px;
margin:10px 0px;
line-height:120%;
}



.pagination li{
 width:40px;
 margin:5px;
 float:left;
 background: whitesmoke;
 text-align:center;
 display:inline-block;
}

.page-numbers{
    display:block;
    width:100%;
    padding:10px 0px;
}

.page-numbers a{
    display:block;
    width:100%;
    padding:10px 0px;
}





}
