@charset "utf-8";

/**************************************************************************************/

/*　sp.css　→　画面の横幅が750px以下↓　*/

/**************************************************************************************/


@media screen and (max-width:750px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}

/*********   fishlist　商品一覧   **********/


.fishlist #header {
height: 155px;
margin-left: auto;
margin-right: auto;
width: 100%;
text-align: left;
/*position: fixed;*/
position: absolute;
background-color: #FFFFFF;
z-index: 1000;
}
.fishlist #header .cat-menu {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
/*background-color: #F5F5F5;*/
padding-top: 10px;
padding-right: 15px;
padding-bottom: 10px;
padding-left: 15px;
/*position: fixed;*/
position: absolute;
margin-top: 0px;
top: 80px;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;

}

.fishlist #header .cat-menu li {
}

.fishlist #header .cat-menu a{
white-space: nowrap;
background-color:whitesmoke;
display: block;
color:black;
font-weight: bold;
font-size:13px;
text-decoration:none;
width:80px;
height:26px;
border-radius: 5px 5px 5px 5px;
line-height: 26px;
text-align:center;
margin-bottom:5px;
}

.fishlist #header .cat-menu a:hover{
text-decoration:underline;
color:#208F67;
}


.logo2 {
position: absolute;
}

#contents{
position:relative;
padding:155px 0px 0px 0px;
}

.fishlist .A_waku {
margin:40px 0 0 0;
/*
        background-image: url(../images//base/back02.png);
        background-repeat: repeat-x;
        background-position: center bottom;
        overflow-x: hidden;
*/
}

.fishlist .A01 {
width: 90%;
position: relative;
margin-left: auto;
margin-right: auto;
color: #FFFFFF;
font-size: 16px;
line-height: 180%;
padding-bottom: 7px;
padding-top: 125px;
}
.fishlist .A01 .img01 {
max-width: 350px;
margin-left: auto;
margin-right: auto;
}
.fishlist .A01 .img02 {
margin-top: -250px;
position: relative;
z-index: 10;
}
.fishlist .A01 .img03 {
	margin-top: 37px;

}
.fishlist .A01 .img04 {
	margin-top: 7px;

}
.fishlist .A01 .img05 {
	margin-top: 11px;

}
.fishlist .A01 .text01 {
	margin-top: 10px;
	position: relative;
z-index: 10;

}
.fishlist .A01 .text02 {
	margin-top: 4px;
}

.fishlist .A02 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 180%;
	padding-bottom: 30px;
	clear: both;
}
.A_waku .A02 .text01 {
	text-align: justify;
	font-size: 15px;
	letter-spacing: 0px;
}
.fishlist .A02 .img01 {
width: 90%;
margin-left: auto;
margin-right: auto;
}



.fishlist .A03 {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 180%;
	padding-bottom: 7px;
	clear: both;
	padding-top: 26px;
}

.fishlist .A03 .ul01 {
	list-style-type: none;
	text-align: left;
	width: 100%;
	overflow-y: hidden;
	display: flex;
justify-content: center;
flex-wrap: wrap;
}
.fishlist .A03 .ul01 li {
	margin-right: 40.px;
width: 46%;
margin-left: 2%;
margin-bottom: 40px;
margin-right: 2%;
position: relative;
}
.fishlist .A03 .ul01 .li_img01 {
box-sizing: border-box;
border: 3px solid #FFFFFF;
line-height: 0%;
margin-bottom: 10px;
height: 106px;
}
.fishlist .A03 .ul01 .li_img01 img {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
width: 100%;
height: 100px;
object-fit: cover;
}



.fishlist .A03 .ul01 .li_img02 {
width: 40px;
position: relative;
}
.fishlist .A03 .ul01 .li_img02 img {
border-radius: 100px;
}
.li_img02 img{
width: 40px;
height: 40px;
border-radius: 50%;
border: 3px solid white;
position: relative;
left: -2px;
top: -16px;
}


.fishlist .A03 .ul01 .li_img03 {
	margin-top: 6px;
}

.fishlist .li_text00 {
        margin-top:-67px;
        right:0;
        position: absolute;
        padding:1%;
        line-height:1em;
        top: 156px;
        font-size: 12px;
        font-weight: bold;
        color:black;
        background-color:whitesmoke;
}

.fishlist .A03 .ul01 li .li_text01 {
height:45px;
font-size: 14px;
line-height: 1.3em;
padding-top: 7px;
margin-bottom: 2px;
font-weight: bold;
margin-top: -67px;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
padding-left: 50px;
}


.fishlist .A03 .ul01 li .li_text01:before, .fishlist .A03  .ul01 li .li_text01:after {
	position: absolute;
/*	background-color: #208F67; */
	padding-left: 5px;
}

.fishlist .A03 .ul01 li .li_text02 {
        height:34px;
	font-size: 14px;
	line-height: 120%;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
}
.fishlist .A03 .ul01 li .li_text03 {
	font-size: 14px;
	line-height: 120%;
	margin-bottom: 4px;
	font-weight: bold;
	color: #FFFF00;
}

.fishlist .A03 .ul01 li .li_text04 {
	position: relative;
	height: 120px;
	overflow: hidden;
	font-size: 14px;
	padding-top: 0px;
	line-height: 150%;

}
.fishlist .A03 .ul01 li .li_text04:before, .fishlist .A03 .ul01 li .li_text04:after {
	position: absolute;
/*	background-color: #208F67;*/
	padding-left: 5px;
}



.fishlist .A_waku  a:visited {
        color: #FFFFFF;
        text-decoration: none;
}
.fishlist .A_waku  a:link {
        color: #FFFFFF;
        text-decoration: underline;
        text-decoration: none;
}
.fishlist .A_waku  a:active {
        color: #f8f8f8;
        text-decoration: none;
}
.fishlist .A_waku  a:hover {
        color: #f8f8f8;
        text-decoration: none;
}



.fishlist .A03 .ul02 {
list-style-type: none;
text-align: left;
font-size: 14px;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
margin-left: auto;
margin-right: auto;
background-color: #24A276;
line-height: 160%;
color: #FFFFFF;
padding-left: 5%;
padding-top: 5%;
padding-right: 5%;
padding-bottom: 5%;
letter-spacing: 0px;
clear: both;
margin-bottom: 85px;
margin-top: 8px;
}
.fishlist .A03 .ul02 li {
text-align: justify;
}








.fishlist .B_waku {
	background-image: url(../images//base/back05.png);
	background-repeat: repeat-x;
	background-position: center bottom;
background-color: #ECD223;
}


.fishlist .B_waku a:visited {
        color: #202020;
        text-decoration: none;
}
.fishlist .B_waku a:link {
        color: #202020;
        text-decoration: none;
        font-weight: bold;
}

.fishlist .B_waku a:active {
        color: #555555;
        text-decoration: none;
}
.fishlist .B_waku a:hover {
        color: #555555;
        text-decoration: none;
}



.fishlist .B01{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-size: 16px;
        line-height: 180%;
        padding-bottom: 7px;
        clear: both;
        padding-top: 26px;
}

.fishlist .B01 .text02 {
        margin-top: 22px;
        color: #E52605;
        font-size: 14px;
        line-height: 140%;
        background-color: #FFFFFF;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        font-weight: bold;
        padding-left: 10px;
        padding-right: 10px;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        padding-top: 15px;
        padding-bottom: 15px;
        border-radius: 40px;
        margin-bottom: 20px;
}

.fishlist .B02{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	line-height: 180%;
	padding-bottom: 7px;
	clear: both;
	padding-top: 26px;
}
.fishlist .B02 .hiduke1 , .fishlist .B02 .hiduke2 {
width: 100%;
margin-bottom: 20px;
}


.fishlist .B02 .ul01 {
	list-style-type: none;
	text-align: left;
	width: 100%;
	overflow-y: hidden;
	display: flex;
justify-content: center;
flex-wrap: wrap;
}
.fishlist .B02 .ul01 li {
	margin-right: 40.px;
	width: 46%;
	margin-left: 2%;
        margin-bottom: 40px;
	margin-right: 2%;
        position: relative;
}
.fishlist .B02 .ul01 .li_img01 {
box-sizing: border-box;
border: 3px solid #FFFFFF;
line-height: 0%;
margin-bottom: 10px;
height: 106px;
}
.fishlist .B02 .ul01 .li_img01 img {
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
width: 100%;
height: 100px;
object-fit: cover;
}
.fishlist .B02 .ul01 .li_img02 {
width: 40px;
position: relative;
}
.fishlist .B02 .ul01 .li_img02 img {
border-radius: 100px;
}

.fishlist .B02 .ul01 .li_img03 {
	margin-top: 6px;
}
.fishlist .B02 .ul01 li .li_text01 {
height:45px;
font-size: 14px;
line-height: 1.3em;
padding-top: 7px;
margin-bottom: 2px;
font-weight: bold;
margin-top: -67px;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
padding-left: 50px;
}

.fishlist .B02 .ul01 li .li_text01:before, .fishlist .B02  .ul01 li .li_text01:after {
}





.fishlist .B02 .ul01 li .li_text02 {
        height:34px;
	font-size: 14px;
	line-height: 120%;
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 1px;
        overflow: hidden;
        text-overflow: ellipsis;
}
.fishlist .B02 .ul01 li .li_text03 {
	font-size: 16px;
	line-height: 140%;
	margin-bottom: 4px;
	font-weight: bold;
	color: #E52605;
}

.fishlist .B02 .ul01 li .li_text04 {
        position: relative;
        height: 120px;
        overflow: hidden;
        font-size: 14px;
        padding-top: 0px;
        line-height: 150%;
}


.fishlist .B02 .ul01 li .li_text04:before, .fishlist .B02 .ul01 li .li_text04:after {
}




.fishlist .tokutei {
width: 90%;
}

.fishlist .tokutei table {
width: 100%;
}


.fishlist .tokutei table .col1 {
width: 30%;
}








.fishlist .C_waku {
	background-image: url(../images//base/back06.png);
	background-repeat: repeat-x;
	background-position: center bottom;
}
.fishlist .C01 {
width: 90%;
margin-left: auto;
margin-right: auto;
color: #FFFFFF;
font-size: 14px;
line-height: 180%;
padding-bottom: 55px;
overflow-x: scroll;
}
.fishlist .C01 .img01 {
width: 80%;
margin-left: auto;
margin-right: auto;
margin-top: 45px;
margin-bottom: 10px;
}



/* ------- */
.fishlist .C01 table	{
border-collapse: collapse;
border-spacing: 0;
width:100%;
margin-bottom: 1px;
margin-left: auto;
margin-right: auto;
background-color: #FFFFFF;

}
.fishlist .C01 th, td	{
width: 5%;
}

/* ------- */
.fishlist .C01 .tb01	{
	border: 2px solid #DDC418;
}
.fishlist .C01 .tb01 th	{
border: 2px solid #DDC418;
color: #333;
background-color: #ECD223;
font-size: 14px;
text-align: center;
vertical-align:bottom;
}
.fishlist .C01 .tb01 td	{
border: 2px solid #ECD223;
color: #333;
text-align: center;
vertical-align: middle;
}



.fishlist .D_waku {
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #FFFFFF;
	clear: both;
}
.fishlist .D01 {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 70px;
}
.fishlist .E_waku {
	background-color: #FFFFFF;
}
.fishlist .E01 {
	width: 90%;	margin-left: auto;
	margin-right: auto;
	padding-top: 45px;
	padding-bottom: 50px;
}
.fishlist .E01 .text01 {
	color: #E7510C;
	font-weight: bold;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #CCCCCC;
	font-size: 16px;
	line-height: 140%;
	margin-top: 13px;
	padding-bottom: 21px;
	margin-bottom: 25px;
}










.Z_waku {
width: 90%;
margin-left: auto;
margin-right: auto;
padding-top: 0px;
padding-bottom: 50px;
background-repeat: repeat-x;
background-position: center bottom;
background-color: #FFFFFF;
clear: both;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
.ryoshi{
width: 100%;
}

h1{
margin-top: 10px;
margin-bottom: 10px;
}


h2{
margin-top: 10px;
margin-bottom: 10px;
}


h3{
margin-top: 10px;
margin-bottom: 10px;
}


.ryoshi_left{
width: 100%;
text-align: center;
margin-left: auto;
margin-right: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 5%;
}

.ryoshi_left img{
}

.ryoshi_left_bottom{
text-align: justify;
}

.ryoshi_right{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
}

.ryoshi_right img{
}


.ryoshi_left2{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
}
.ryoshi_right2{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
}
.ryoshi_right2 img{
}

.ryoshi_gyoba_left{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
text-align: justify;
}
.ryoshi_gyoba_left img{
width: 100%;
margin-left: auto;
margin-right: auto;
}


.ryoshi_gyoba_right{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
text-align: justify;
}
.ryoshi_gyoba_right img{
width: 100%;
margin-left: auto;
margin-right: auto;
}

.ryoshi_message_left{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
text-align: justify;
}
.ryoshi_message_right{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
text-align: justify;
}

.ryoshi_gyoho_left{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
text-align: justify;
}

.ryoshi_gyoho_left img{
width: 100%;
margin-left: auto;
margin-right: auto;
}

.ryoshi_gyoho_right{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
text-align: justify;
}

.ryoshi_gyoho_right img{
}

.ryoshi_kodawari_left{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
text-align: justify;
}

.ryoshi_kodawari_right{
float: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
padding-right: 40px;
width: 100%;
text-align: justify;
}

.ryoshi_kodawari_right img{
width: 100%;
margin-left: auto;
margin-right: auto;
}



.ryoshi_sakana{
width: 100%;
padding-top: 10px;
padding-right: 10px;
/* [disabled]padding-left: 10px; */
padding-bottom: 10px;
line-height: 100%;
margin: 0 auto;
display: flex;
justify-content: center;
flex-wrap: wrap;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.ryoshi_sakana_haru{
width:150px;
height:280px;
float:left;
margin:0px 5px 5px 0px;
background-image: url("../img/ryoshi_sakana_haru.png");
}
.ryoshi_sakana_natu{
width:150px;
height:280px;
float:left;
margin:0px 5px 5px 0px;
background-image: url("../img/ryoshi_sakana_natu.png");
}
.ryoshi_sakana_aki{                                                                                                                                                  
width:150px;
height:280px;
float:left;
margin:0px 5px 5px 0px;
background-image: url("../img/ryoshi_sakana_aki.png");
}
.ryoshi_sakana_fuyu{                                                                                                                                                  
width:150px;
height:280px;
float:left;
margin:0px 5px 5px 0px;
background-image: url("../img/ryoshi_sakana_fuyu.png");
}


.teikibin h5{
        margin-top:10px;
        font-size: 16px;
        color:mistyrose;
}


.ryoshi_sakana_namae{
position:relative;
top:50px;
text-align:center;
font-weight:bold;
}

.teikibin h3{
        font-size: 50px;
        text-align:center;
}

.teikibin h4{
        font-size: 30px;
        line-height:150%;
}


.tag{
width:100%;
margin:0 auto;
position: absolute;
background-color:white;
padding:0 0 5px 0;
}

.subclass{
background-color:whitesmoke;
width:32%;
padding:0px;
margin:0px 1% 2px 0;
border-radius: 15px;
float:left;
}

.subclass a{
color:black;
text-decoration:none;
font-size:13px;
display: block;
font-weight:bold;
}

.subclass_on{
background-color:#DDC418;
background-color:#208F67;
width:100%;
padding:0px;
margin:0px;
border-radius: 15px;
float:left;
}

.subclass_on a{
color:white;
text-decoration:none;
font-size:13px;
}

/*
.fishlist .A03 {
        color: black;
}

.fishlist .A_waku  a:visited {
        color: black;
        text-decoration: none;
}
.fishlist .A_waku  a:link {
        color: black;
        text-decoration: none;
        font-weight: bold;
}
.fishlist .A_waku  a:active {
        color: grey;
        text-decoration: none;
}
.fishlist .A_waku  a:hover {
        color: grey;
        text-decoration: none;
}

.fishlist .A03 .ul01 li .li_text03 {
        font-size: 16px;
        line-height: 140%;
        margin-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: bold;
        color: #FFFF00;
        color: #208F67;
}
*/

.class1{
padding-top: 10px;
padding-right: 15px;
padding-bottom: 10px;
padding-left: 15px;
position: absolute;
margin-top: 0px;
top: 80px;
width: 100%;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.mainclass{
background-color:whitesmoke;
width:24%;
padding:0px;
margin:0px 1% 2px 0;
border-radius: 15px;
float:left;
text-align:center;
}

.mainclass a{
color:black;
text-decoration:none;
font-size:13px;
display: block;
font-weight:bold;
}

.mainclass_on{
background-color:#DDC418;
background-color:#208F67;
width:100%;
padding:0px;
margin:0px;
border-radius: 15px;
float:left;
}

.mainclass_on a{
color:white;
text-decoration:none;
font-size:13px;
}



.BB01{
width:90%;
background-color:white;
color:black;
border-radius: 15px;
margin:50px auto 0 auto;
padding:10px;
font-size:15px;
line-height:1.2;
}

.BB02{
width:90%;
background-color:white;
color:black;
border-radius: 15px;
margin:20px auto 20px auto;
padding:10px;
font-size:15px;
line-height:1.2;
}




.syukka_yotei{
        width:  96%;
        margin-left: auto;
        margin-right: auto;
        background-color:#208F67;
        padding:30px 0 50px 0;
}

.syukka_yotei table{
        width:96%;
        margin-left: auto;
        margin-right: auto;
}

.syukka_yotei th{
        font-size:10px;
        padding:0px;
        margin:0px;
        border: 2px solid #DDC418;
        color: #333;
        background-color: #ECD223;
        vertical-align:bottom;
}

.syukka_yotei td{
        padding:0px;
        margin:0px;
        border: 2px solid #ECD223;
        color: #333;
        text-align: left;
        background-color:white;
}

.syukka_yotei .td1{
        width:30%;
}

.syukka_yotei .td2{
        width:1%;
        padding:0px;
        text-align:center;;
        vertical-align:middle;
}

.syukka_yotei .td2 img{
        width:10px;
}




}
