@charset "utf-8";

/**************************************************************************************/

/*　pc.css　→　各ページ固有のタイルシート　*/
/*　画面の横幅が750px以上↑　*/

/**************************************************************************************/

@media screen and (min-width: 750px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}

/*********   member　無料会員登録   **********/


.member .A_waku {
	background-image: url(../images//base/back02.png);
	background-repeat: repeat-x;
	background-position: center bottom;
service}
.member .A01 {
	width: 1000px;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	color: #FFFFFF;
	font-size: 16px;
	line-height: 180%;
	padding-bottom: 7px;
}
.member .A01 .img01 {
	position: absolute;
	left: 54px;
	top: 37px;
	height: 296px;
	overflow-y: hidden;
}
.member .A01 .img02 {
	padding-top: 99px;
}
.member .A01 .text01 {
	margin-top: 4px;
	margin-bottom: 47px;
}
.member .B_waku {
	background-image: url(../images//base/back05.png);
	background-repeat: repeat-x;
	background-position: center bottom;
service; 					background-color: #ECD223;
}
.member .B01 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 15px;
	padding-top: 46px;
	clear: both;
}
.member .B01 .ul01 {
	list-style-type: none;
	text-align: left;
	font-size: 14px;
	width: 1000px;
	line-height: 160%;
	overflow-y: hidden;
	margin-left: 41px;
	font-weight: bold;
}
.member .B01 .ul01 li {
	float: left;
	width: 286px;
	margin-right: 30px;
	min-height: 414px;
}
.member .B01 .ul01 .li_text {
	padding-left: 5px;
	padding-right: 3px;
	margin-top: 5px;
}
.member .B01 .img01 {
}
.member .B01 .img02 {
	text-align: center;
	width: 864px;
	margin-left: auto;
	margin-right: auto;
	border-top: 1px solid #000000;
	margin-top: 70px;
	padding-top: 45px;
	padding-bottom: 24px;
}


.member .B01 .text01 {
	font-size: 16px;
	line-height: 180%;
	margin-top: 10px;
}
.member .B01 .mail_waku {
	width: 918px;
	margin-left: auto;
	margin-right: auto;
	background-color: #D6BD12;
	margin-top: 30px;
	font-weight: bold;
	font-size: 16px;
}
.member .B01 .mail_waku img {
	line-height: 0%;
}

.member .B01 .mail_waku table {
	width: 635px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	margin-top: 15px;
}
.member .B01 .mail_waku .col2 input {
	height: 32px;
	width: 545px;
}
.member .B01 .mail_waku  .submit {
	width: 500px;
	height: 42px;
	margin-top: 15px;
	margin-bottom: 15px;
}
.member .B01 .ul02 {
	list-style-type: none;
	overflow-y: hidden;
	margin-bottom: 60px;
}
.member .B01 .ul02 li {
	float: left;
	margin-left: 40px;
}
.member .C_waku  {
	background-image: url(../images//base/back02.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #208F67;
}
.member .C01 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	margin-top: 0px;
	padding-top: 65px;
	padding-bottom: 75px;
}

.member .D_waku {
	background-image: url(../images//base/back03.png);
	background-repeat: repeat-x;
	background-position: center bottom;
	background-color: #ECD223;
	clear: both;
}
.member .D01 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 52px;
	padding-bottom: 55px;
}
.member .E_waku {
	background-color: #FFFFFF;
}
.member .E01 {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 62px;
	padding-bottom: 50px;
}
.member .E01 .text01 {
	color: #E7510C;
	font-weight: bold;
	width: 837px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: 2px solid #CCCCCC;
	font-size: 16px;
	line-height: 140%;
	margin-top: 13px;
	padding-bottom: 21px;
	margin-bottom: 25px;
}



}
