@charset "utf-8";

/**************************************************************************************/

/*　pc.css　→　各ページ固有のタイルシート　*/
/*　画面の横幅が750px以上↑　*/

/**************************************************************************************/


@media screen and (min-width: 750px){
img{
max-width: 100%;
height: auto;
width /***/:auto;　
}

#header {
        height: 141px;
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
        text-align: left;
        position: relative;
}


.logo2{
        background-image: url(../images//logo01.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        height: 97px;
        width: 256px;
        position: absolute;
        left: 13px;
        top: 23px;
}
.logo2 a{
        display: block;
        height: 97px;
        width: 256px;
        text-indent: -9999px;
}


/* ---------    メニュー　　----------- */

.menu_ul {
}

#menusp {
	display: none;
	}

#close {
display: none;
}
	
	
#header .menu_ul {
	list-style-type: none;
	text-align: right;
	font-size: 0px;
	border-right: 1px solid #ECD223;
	position: absolute;
	right: 0px;
	top: 74px;
}
#header .menu_ul li {
	float: left;
	line-height: 0%;
	border-left: 1px solid #ECD223;
	padding-left: 10px;
	padding-right: 9px;
        width:120px;
}
#header .bt_ul {
	list-style-type: none;
	position: absolute;
	top: 0px;
	right: 0px;
}
#header .bt_ul img {
        width:135px;
}
#header .bt_ul li {
	float: left;
	margin-left: 6px;
}

#header .submenu {
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	left: 313px;
	top: 23px;
	letter-spacing: 0px;
}







/* ---------    メニュー end　　----------- */








#pagetop {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 50px;
	padding: 0px;
	cursor: pointer;
}



#contents {
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	background-image: url(../images//base/back01.gif);
	background-repeat: repeat-x;
	background-position: center top;
	overflow-x: hidden;
}
.foot_back {
	background-image: url(../images//base/back01.gif);
	background-repeat: repeat-x;
	background-position: center top;
}

.foot2{
	background-color:#ECD223;
}

#footer {
	width: 1000px;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	padding-top: 115px;
	padding-bottom: 75px;
}

#footer .logo {
	width: 256px;
	margin-left: auto;
	margin-right: auto;

}
#footer .text01 {
	color: #FFFFFF;
	font-size: 12px;
	line-height: 160%;
	margin-top: 30px;
	margin-bottom: 30px;
}
#footer .copy {

}
#footer a:visited {
	color: #FFFFFF;
	text-decoration: underline;
}
#footer a:link {
	color: #FFFFFF;
	text-decoration: underline;
}
#footer a:active {
	color: #73F5C6;
	text-decoration: none;
}
#footer a:hover {
	color: #73F5C6;
	text-decoration: none;
}

.tokutei{
margin:0 auto;
width:900px;
text-align:left;
background-color:white;
padding:30px;
}

.tokutei table{
border:1px solid whitesmoke;
}

.tokutei td{
border:1px solid whitesmoke;
}

.tokutei_col1{
width:150px;
}

.zoto{
width:860px;
color:black;
background-color:white;
margin:0 auto;
padding:30px 20px 50px 20px;
text-align:left;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.zoto h2{
font-size:30px;
margin:20px auto;
text-align:center;
}



.community_top{
width:1000px;
margin:0 auto;
color:black;
padding:0px 0px 0px 20px;
}

.community_top2{
width:200px;
float:left;
margin:0 auto;
padding:10px 15px 10px 10px;
}

.community_top_img img{
height:150px;
width:200px;
border-radius:10px;
}

.community_top_kao{
float:left;
width:50px;
height:50px;
position:relative;
bottom:20px;
margin:0;
}

.community_top_kao img{
border:1px solid white;
}


.community_top_name{
font-size:10px;
text-align:left;
height:40px;
}

.community_top_body{
width:200px;
text-align:left;
position:relative;
bottom:20px;
clear:both;
padding:0px 5px;
}

.community0 h3{
font-size:30px;
color:white;
padding:20px 10px;
}

.community1{
width:900px;
background-color:white;
margin:0 auto;
padding:50px 0px;
}

.community{
width:600px;
padding:10px;
border:1px solid #208f67;;
background-color:white;
margin:0 auto;
text-align:left;
}

.community_header1{
float:left;
padding:0px 10px;
}
.community_header2{
float:left;
padding:0px 10px;
}

.community_date{
font-size:10px;
color:grey;
}

.community_body{
margin:5px 0px 0px 0px;
padding:10px 0px 0px 0px;
border-top:1px solid grey;
font-weight:normal;
}

.community_body img{
padding:8px 0px 0px 0px;
}

.community_like_number{
padding:8px 0px 0px 0px;
font-size:12px;
color:grey;
font-weight:normal;
padding:8px 0px;
}

.community_like_push{
display: block;
padding:10px 0px 0px 0px;
font-size:14px;
color:grey;
font-weight:normal;
text-align:center;
vertical-align:center;
border-top:1px solid grey;
}

.community_comment_push{
padding:15px 0px 0px 0px;
border:none;
background-color:white;
display: inline;
}

.community_comment_thumbnail{
width:30px;
margin:15px 10px 10px 10px;
float:left;
clear: both;
}

.community_comment_body1{
width:500px;
float:left;
font-size:12px;
}

.community_comment_body2{
width:500px;
margin:15px 10px 0px 0px;
padding:10px;
background-color:whitesmoke;
border-radius:20px;
font-size:15px;
}

.comment_area{
border-radius:20px;
width:580px;
margin:20px 0px 20px 0px;
}

.tokutei_col1{
width:200px;
}

.menu01{
width:1000px;
text-align:center;
}

.menu02{
width:300px;
text-align:center;
}

.menu02a {
color:black;
font-weight:bold;
font-size:30px;
text-decoration:none;
display: block;
line-height:150%;
padding:30px;
background-color:#ECD223;
}

.menu02 a{
text-decoration:none;
}

.free-shipping{
background-color:red;
color:white;
}







}
